.dropdown {
    flex: 1;
    
    .dropdownHeading {
        display: flex;
        justify-content: space-between;
        padding: 0.63rem;
        background-color: #FF6060;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        i {
            font-size: 2rem;
        }
        span {
            align-self: center;
        }
    }
    .dropdownContent {
        color: #FF6060;
        background-color: #F6F6F6;
        margin: 0;
        padding: 1rem;
        padding-top: 1.5rem;
        border-radius: 10px;
        min-height: 10rem;
        li {
            list-style: none;
        }
    }
}

@media (max-width: 768px) {
    .dropdown {
        .dropdownHeading {
            font-size: 13px!important;
            line-height: 19px;
            font-weight: 500;
            padding: 0.35rem;
            border-radius: 5px;
            i {
                font-size: 1.1rem;
            }
        }
        .dropdownContent {
            font-size: 0.75rem!important;
            min-height: 5rem;
            li {
                line-height: 1.1rem;
            }
        }
    }
}