@import '../../style/variables';

.dropdown {
    flex: 1;
    
    .dropdownHeading {
        display: flex;
        justify-content: space-between;
        padding: 0.63rem;
        background-color: $primary;
        color: $light;
        border-radius: 0.625rem;
        cursor: pointer;
        font-size: 1.125rem;
        i {
            font-size: 2rem;
        }
        span {
            align-self: center;
        }
    }
    .dropdownContent {
        color: $primary;
        background-color: $secondary;
        margin: 0;
        padding: 1rem;
        padding-top: 1.5rem;
        border-radius: 0.625rem;
        min-height: 10rem;
        li {
            list-style: none;
        }
    }
}

@media (max-width: 768px) {
    .dropdown {
        .dropdownHeading {
            font-size: 0.8125rem!important;
            line-height: 1.1875rem;
            font-weight: 500;
            padding: 0.35rem;
            border-radius: 0.3125rem;
            i {
                font-size: 1.1rem;
            }
        }
        .dropdownContent {
            font-size: 0.75rem!important;
            min-height: 5rem;
            li {
                line-height: 1.1rem;
            }
        }
    }
}