.heroContainer {
    position: relative;
    width: 100%;
}
.heroContainer h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    font-size:3rem;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: 500;
}
.heroContainer img {
    width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.heroContainer .heroFilter {
    position: absolute;
    width: 100%;
    height: calc(100% - 4px);
    top: 0;
    background-color: black;
    opacity: 0.3;
    border-radius: 25px;
}