.heroContainer {
    height: 415px;
}
.heroContainer .chevron {
    font-size: 4.9em;
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%)
}
.heroContainer .pagination {
    position: absolute;
    color: #fff;
    bottom: 25px;
    margin: 0;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%)
}
.heroContainer .chevron-right {
    right: 1.5rem;
}
.heroContainer .chevron-left {
    left: 1.5rem;
}
.headingContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.headingFirstPart h1,.headingFirstPart p {
    margin: 0;
}
.headingFirstPart {
    display: flex;
    flex-direction: column;
    justify-content:space-between
}
.headingFirstPart .tagContainer .tag:not(:first-of-type) {
    margin-left: 10px;
}
.headingFirstPart .tag {
    background-color: #FF6060;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-size: 14px;
}
.headingSecondPart .ownerIdentity {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headingSecondPart .ownerIdentity img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.headingSecondPart .rating {
    display: flex;
    justify-content: space-evenly;
}
.headingSecondPart .rating .fa-star {
    font-size: 2rem;
}
.full {
    color: #FF6060;
}
.empty {
    color: #E3E3E3;
}

.DropdownContainer {
    display: flex;
}