.mainHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // margin-bottom: 63px;
    grid-area: header;
}
.mainHeader>img {
    height: 4.25rem;
}
.mainHeader>nav ul {
    display: flex;
    list-style-type: none;
}
.mainHeader>nav li {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ff6060;
    .active {
        text-decoration: underline;
    }
}
.mainHeader>nav li:not(:first-child) {
    margin-left: 4rem;
}
.mainHeader>nav a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:768px) {
    .mainHeader>img {
        height: 2.94rem;
    }
    .mainHeader>nav li {
        font-size: 0.75rem;
        text-transform: uppercase;
    }
    .mainHeader>nav li:not(:first-child) {
        margin-left: 0.63rem
    }
}