.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3.125rem 0;
    background-color: #f6f6f6;
    border-radius: 1.5625rem;
}

@media (max-width:768px) {
    .galleryContainer {
        background-color: white;
        padding: 0;
    }
}