@import '../../style/variables';

footer {
    grid-area: footer;
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    img {
        padding-top: 2rem;
    }
}