.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  height: calc(100vh - 9rem);
  .errorUpperPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  h1 {
    font-size: 18rem;
    color: #ff6060;
    font-weight: bold;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 36px;
    color: #ff6060;
    font-weight: 500;
    text-align:center;
  }
  .errorLowerPart {
    text-decoration-color: #ff6060;
    span {
      color: #ff6060;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media (max-width:768px) {
  .errorContainer {
    height: calc(100vh - 20.5rem);
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 18px;
      padding: 0 1rem;
      margin-top: 1rem;
    }
    .errorLowerPart {
      span {
        font-size: 14px;
      }
    }
  }
}